<!DOCTYPE html>
<html>

<head>
  <title>Product Search</title>
  <link rel="icon" type="image/x-icon" 
    href="https://cdn.iconscout.com/icon/free/png-256/free-shopping-cart-icon-download-in-svg-png-gif-file-formats--trolley-online-user-interface-pack-icons-1502238.png">
  <link rel="stylesheet" href="{{ url_for('static', filename='secondPage.css') }}">
  <script scr= "script.js"></script>
</head>
<body>
  <h1>Find the Best Prices for your Groceries</h1>

  <a href="{{ url_for('home') }}" style="text-decoration: none;">
  <button type="button">HOME</button> </a>

  <br>
  <br>

  <p>Enter a product to compare prices at two stores near you:</p>


  <p>Product Name:</p>

  <form method="POST" action="{{ url_for('secondPage') }}">
    <input type="text" name="user_input" placeholder="Enter Here">
    <!-- Add CSS for the form, on secondPage.css-->
    <p> Store A:
      <select name="store_a" id="store-a">
        <option value="0">Select an option</option>
        <option value="lidl">Lidl</option>
        <option value="traderjoes">Trader Joe's</option>
        <!-- <option value="3">Whole Foods</option>
        <option value="4">Shoppers</option>
        <option value="5">Giant</option> -->
      </select>
    </p>

    <p> Store B:
      <select name="store_b" id="store-b">
        <option value="0">Select an option</option>
        <option value="lidl">Lidl</option>
        <option value="traderjoes">Trader Joe's</option>
        <!-- <option value="3">Whole Foods</option>
        <option value="4">Shoppers</option>
        <option value="5">Giant</option> -->
      </select>
    </p>

    <input type="submit" value="Compare Prices">
  </form>
  <br>
  <br>

  <!-- Use JS to have table fill with information. -->
  <h1>Price Comparison</h1>


  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
  <div style="display: flex; justify-content: space-between;">
    <div style="width: 48%;">
      <h2>Store A Results</h2>
      <table style="width: 100%;">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Link</th>
            <th>Image</th>
        </tr>
        {% for item in store_a_results %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td><a href="{{ item.link }}" target="_blank">Product Link</a></td>
            <td>{% if item.image %}<img src="{{ item.image }}" alt="{{ item.name }}">{% else %}No Image{% endif %}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div style="width: 48%;">
      <h2>Store B Results</h2>
      <table style="width: 100%;">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Link</th>
            <th>Image</th>
        </tr>
        {% for item in store_b_results %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td><a href="{{ item.link }}" target="_blank">Product Link</a></td>
            <td>{% if item.image %}<img src="{{ item.image }}" alt="{{ item.name }}">{% else %}No Image{% endif %}</td>
        </tr>
        {% endfor %}
      </table>
    </div>    
  </div>
</body>
</html>