<!DOCTYPE html>
<html>

<head>
  <title>Product Search</title>
  <link rel="icon" type="image/x-icon" 
    href="https://cdn.iconscout.com/icon/free/png-256/free-shopping-cart-icon-download-in-svg-png-gif-file-formats--trolley-online-user-interface-pack-icons-1502238.png">
  <link rel="stylesheet" href="{{ url_for('static', filename='secondPage.css') }}">
  <script scr= "script.js"></script>
</head>

<body>

  <h1>Find the Best Prices for your Groceries</h1>

  <a href="{{ url_for('home') }}" style="text-decoration: none;">
  <button type="button">HOME</button> </a>

  <br>
  <br>

  <p>Enter a product to compare prices at two stores near you:</p>


  <p>Product Name:</p>

  <form method="POST" action="{{ url_for('secondPage') }}">
    <input type="text" name="user_input" placeholder="Enter Here">
    <input type="submit" value="Submit">
  </form>

  <br>

  <!-- Add CSS for the form, on secondPage.css-->
  <form action="#" id="product-form" method="get">
    <!-- Store A-->
    <p> Store A:
      <select id="store-a">
        <option value="0">Select an option</option>
        <option value="1">Lidl</option>
        <option value="2">Trader Joe's</option>
        <option value="3">Whole Foods</option>
        <option value="4">Shoppers</option>
        <option value="5">Giant</option>
      </select>
    </p>
    <!-- Store B-->
    <p> Store B:
      <select id="store-b">
        <option value="0">Select an option</option>
        <option value="1">Lidl</option>
        <option value="2">Trader Joe's</option>
        <option value="3">Whole Foods</option>
        <option value="4">Shoppers</option>
        <option value="5">Giant</option>
      </select>
    </p>
  </form>

  <br>
  <br>

  <button type="button">Compare Prices</button>

  <br>
  <br>

  <!-- Use JS to have table fill with information. -->
  <h1>Price Comparison</h1>


  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>

  <table style="width: 50%;">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Link</th>
        <th>Image</th>
    </tr>
    {% for item in result %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td><a href="{{ item.link }}" target="_blank">Product Link</a></td>
        <td>{% if item.image %}<img src="{{ item.image }}" alt="{{ item.name }}">{% else %}No Image{% endif %}</td>
    </tr>
    {% endfor %}
  </table>


</body>

</html>