<!DOCTYPE html>
<html>

<head>
  <title>Contact Information</title>
  <link rel="icon" type="image/x-icon" 
    href="https://cdn.iconscout.com/icon/free/png-256/free-shopping-cart-icon-download-in-svg-png-gif-file-formats--trolley-online-user-interface-pack-icons-1502238.png">
  <link rel="stylesheet" href="{{ url_for('static', filename='thirdPage.css') }}">
  <script scr= "script.js"></script>
</head>

<body>

  <h1>Contact Information</h1>

  <a href="{{ url_for('home') }}" style="text-decoration: none;">
  <button type="button">HOME </button> </a>


  <br>
  <br>

  <p1>Want to give us feedback? Have questions? Shoot us an email! </p1>

  <br>
  <br>

  <p1>Group Members: </p1>

  <br>
  <br>


  <p1>Ivy Lu: </p1>
  <p> Email: ilu123@terpmail.umd.edu</p>

  <br>
  <br>

  <p1>Daniella Ghonda: </p1>
  <p> Email: danieog@umd.edu</p>
  <!-- Should we add a button that allows user to email us? -->

  <br>
  <br>

  <p1>Sneha Balur:</p1>
  <p> Email: </p>

  <br>
  <br>

  <p1>Pranavi Kamana:</p1>
  <p> Email: </p>

  <br>
  <br>


  <p1>Thank you for exploring this app!</p1>



</body>

</html>